@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p, button, a {
    font-family: Josefin Sans, sans-serif;
}

h1, h2, h3 {
    font-family: Josefin Sans, sans-serif;
}

#cart .show {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


/*header*/

#logo-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 40%;
}

#logo-text {
    font-size: calc(2rem + 2vw);
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
      font-size: 1.5rem;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -20px;
}

#cart {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#cart-content {
    display: none;
    margin-bottom: 1rem;

}

#checkout-button {
    width: 100%;
}

.pretty-button.remove-button {
    background-color: #E5131C;
    width: 75px;
}

.cart-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;

}

.cart-button {
    width: 50%;
}

#header-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header-right {
    width: 50%;
}

#cart-icon {
    height: 100px;
}

/*main*/

#main-div {
    background: rgb(93,238,255);
    background: linear-gradient(180deg, rgba(93,238,255,1) 0%, rgba(9,111,121,0) 100%);

}

#main-div > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100dvh;
}


.pretty-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 100px;
}

.pretty-button:hover {
background-color: transparent;
}