@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p, button, a {
    font-family: Josefin Sans, sans-serif;
}

h1, h2, h3 {
    font-family: Josefin Sans, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#cart .hide {
    display: none;
}


/*header*/

#logo-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    /* width: 40%; */
}

#logo-img {
    max-width: 30dvw;
}

#logo-text {
    font-size: calc(2rem + 2vw);
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
      font-size: 1.5rem;
      background: #ff0000;
      color: #fff;
      padding: 3 5 3 5px;
      vertical-align: top;
      margin-left: -20px;
}

#cart {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
}

#cart-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

#checkout-button {
    width: 125px;
}

.remove-button {
    border-radius: 25%;
    border-style: none;
    padding: 2px;
    background-color: #E5131C;
    width: 20px;
    text-align: center;

}

.cart-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: #f8f8f8;

}

.cart-button {
    width: 50%;
}

#header-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#cart-icon {
    height: 100px;
}

/*main*/

#main-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgb(93,238,255);
    background: linear-gradient(180deg, rgba(93,238,255,1) 0%, rgba(9,111,121,0) 100%);

}

#main-div > div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 70dvh;
}


.pretty-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 100px;
}

.pretty-button:hover {
background-color: transparent;
}

.big-amiibo-img {
    height: 50dvh;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    #main-div {
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
}